POSTGRES_URL="postgresql://postgres:supersecret@localhost:5432/local"
AUTH_SECRET='supersecret'
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJ...
OPENAI_API_KEY=sk-...
BROWSERBASE_API_KEY=bb_...
BROWSERBASE_PROJECT_ID=...